p {
  font-size: 20px;
  font-weight: bold;
}
p em {
  background: yellow;
  padding: 5px;
}
.stackedAreaChart {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.area {
  stroke: #fff;
  stroke-width: 1px;
}

